<h1>Editing Contato</h1>

<%= render 'form' %>

<%= link_to 'Show', @contato, :class => 'btn btn-primary btn-lg outline' %>
<%= link_to 'Back', contatos_path, :class => 'btn btn-primary btn-lg outline' %>
